.basic-modal {
  .header {
    background-color: $primary !important;
    display: flex !important;
    align-items: center;
    justify-content: space-between;

    span,
    i {
      color: $font-light;
    }

    i {
      margin: 0;
      font-size: 25px;
      cursor: pointer;
    }
  }
}
