.basic-layout {
  min-height: 100vh;
  background-image: url('https://res.cloudinary.com/dzu2kemtg/image/upload/v1613391884/nextjs-ecommerce/bg_web_eb2e52b7d6.jpg');
  background-size: cover;
  background-position: center;

  .content {
    background-color: $background-grey-light;
    height: calc(100vh - 130px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    overflow-y: scroll;

    // Ocultar la barra del scroll
    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }
}
