$primary: rgb(255, 84, 0);

$font-light: rgb(255, 255, 255);
$font-grey: rgb(119, 119, 136);
$font-dark: rgb(0, 0, 0);

$border-light: rgb(255, 255, 255);
$border-grey-light: rgb(167, 167, 167);
$border-grey: rgb(68, 68, 68);

$background-light: rgb(255, 255, 255);
$background-grey-light: rgb(238, 238, 238);
$background-grey: rgb(167, 167, 167);
$background-grey-dark: rgb(54, 54, 54);
$background-dark: rgb(21, 21, 21);
$background-dark-absolute: rgb(0, 0, 0);

$success: rgb(105, 175, 0);
